{% extends 'hod_template/base_template.html' %}


{% block main_content %}

{% load static %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Add Group</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Export</a></li>
      <li class="breadcrumb-item active">Home</li>
    </ol>
    
    <div class="card mr-4">
        
    </div>
    <div class="card mr-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Add Group
      </div>
      <div class="card-body">
        <form role="form" method="POST" action="{% url 'add_group_save' %}">
            {% csrf_token %}

            
                    {% comment %} Display Messages {% endcomment %}
                    {% if messages %}
                    <div class="form-group">
                    <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                    {% endif %}
                

            <div class="card-body">
                                
                <span class="form-group">
                    <label style="display:inline-block ;">Group Name
                    <input type="text" class="form-control" name="gname" placeholder="First Name"></label>
                    </span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

            
                


            </div>
            <!-- /.card-body -->

            <div class="card-footer">
            <button type="submit" class="btn btn-success">Add Group</button>
            </div>
        </form>
        </div>
        <!-- /.card -->

    </div>
</div>

</div><!-- /.container-fluid -->
</section>

{% endblock main_content %}


<script src="{% static '/feweather_styling/static/js/plugins.js' %}"></script>
<script src="{% static '/feweather_styling/static/js/scripts.js' %}"></script>
<script src="{% static '/feweather_styling/static/js/datatables-simple-demo.js' %}"></script>

